.swiper-container {
  width: 80vw;
  height: 500px;
  padding: 50px;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  /* display: block; */
  width: 100%;
}
