/* #root { height: 100% }
html,
body {
  position: relative;
  height: 100%;
} */

.swiperBody {
    width: 100vw;
    background: #111;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

.swiper-container {
  width: 80%;
  /* padding-top: 50px; */
  padding-bottom: 50px;
  /* height: 50vh; */
}

.swiper-slide {
  /* background-position: center; */
  /* background-size: cover; */
  width: 80vw;
  /* height: 100px; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* background: #000; */
}

.swiper-slide div {
  display: flex;
  width: 100%;
}
