.FooterSec {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
  justify-content: space-between;
  /* margin: auto; */
  margin-bottom: 30px;
  position: absolute;
}

.Heading {
  /* font-size: 20px; */
  /* color: #2a3b4a; */
  color: azure;
  text-transform: uppercase;
  /* position: absolute; */
}

.TextContainer {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.TextSec {
  display: flex;

  /* margin: 0 auto; */
  white-space: nowrap;
  /* position: absolute; */
}

.TextWrapper {
  display: flex;
  width: 100%;
  /* display: inline-block; */
  animation: marquee 50s linear infinite;
}

.TextSec2 {
  animation-delay: 15s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.TextWrapper > span {
  font-weight: 300;
  font-size: 17px;
  /* color: #2a3b4a; */
  color: azure;
  width: 200px;
  border-left: 1px solid black;
}

.video {
  /* position: absolute; */
  width: 100vw;
  height: 100vh;
  top: 0px;
  z-index: 10;
}
